---
import { Image } from "astro:assets";
import WebsiteDeveloper from "../../assets/pics/kryukovs1.png";
import WebsiteDeveloperLeft from "../../assets/pics/kryukovs-left.png";
import Nbook1 from "../../assets/pics/nbook1.png";
import Nbook2 from "../../assets/pics/nbook2.png";
import Nbook3 from "../../assets/pics/nbook3.png";
import Section from "./Section.astro";
import FormOption from "../ui/FormOption.astro";
import BgGradient from '../ui/BgGradient.astro'
---

<Section id="home">
  <div
    class="grid grid-cols-1 grid-template xl:grid-cols-2 xl:grid-rows-1 mt-[135px] lg:h-full lg:overflow-x-hidden"
  >
    <div class="mt-4 lg:mt-16 flex flex-col w-full lg:w-[90%]">
      <h1 class="text-[44px] lg:text-7xl font-semibold">Нужен <span class="bg-clip-text text-transparent bg-gradient-to-r from-[#13b690] to-[#855a9e]">веб разработчик?</span></h1>
      <p class="ml-1 text-xl lg:text-2xl font-bold my-6">Вы обратились по адресу!</p>
    </div>
    <div class="row-span-1 xl:row-span-3">
      <div class="group  relative mb-6">
        <div class="ml-auto mr-0 relative h-full w-full">
          <Image src={WebsiteDeveloper} alt="KryukovS" loading="eager" class="pl-[30%] pb-[30%] 2xl:pb-0 2xl:pl-0 lg:mt-0 rounded-3xl mt-6 ml-auto mr-0 2xl:max-w-[600px] group-hover:hidden"/>
          <Image src={WebsiteDeveloperLeft} alt="KryukovS" loading="eager" class="pl-[30%] pb-[30%] 2xl:pb-0 2xl:pl-0 lg:mt-0 rounded-3xl mt-6 ml-auto mr-0 2xl:max-w-[600px] group-hover:block hidden"/>
          <Image src={Nbook1} alt="nout"  loading="eager" class="absolute bottom-[130px] 2xl:bottom-[220px] left-0 z-10 2xl:z-20 max-w-[210px] 2xl:max-w-[400px] translate-y-10 object-cover transition-all duration-[0.7s]"/>
          <Image src={Nbook2} alt="nout2"  loading="eager" class="absolute bottom-[130px] 2xl:bottom-[220px] left-0 z-10 2xl:z-20 max-w-[210px] 2xl:max-w-[400px] translate-y-10 object-cover transition-all duration-[0.7s] 2xl:group-hover:bottom-[260px] 2xl:group-hover:left-12"/>
          <Image src={Nbook3} alt="nout3"  loading="eager" class="absolute bottom-[130px] 2xl:bottom-[220px] left-0 z-10 2xl:z-20 max-w-[210px] 2xl:max-w-[400px] translate-y-10 object-cover transition-all duration-[0.7s] 2xl:group-hover:bottom-[310px] 2xl:group-hover:left-24"/>
        </div>
        <div class="absolute bottom-0 2xl:bottom-10 left-0 w-full flex items-center justify-center z-10 2xl:px-6">
          <p class="my-4 2xl:my-0 text-md lg:text-xl backdrop-blur-sm bg-[#fff]/70 rounded-3xl p-4 2xl:py-6 2xl:px-10">
            Привет, меня зовут Сергей Крюков. Мне нравится создавать классные SEO-оптимизированные сайты и быстрые web-приложения.
          </p>
        </div>
      </div>      
    </div>
    
    <div id="forForm" class="w-full lg:w-[90%]">
      <FormOption/>
    </div>
    <BgGradient/>
  </div>
</Section>
<style>
  .grid-template {
    grid-template-rows: auto 1fr;
  }
</style>

